# compiled files
*.pyc

# python cache
__pycache__/

#distribution files
/build/
/dist/
/sdists/
*.egg-info

# test reports
tests/reports

# coverage file
.coverage*
htmlcov/
.tox/

# profiling data
prof/

# .rst-formatted README
README.rst

# compiled documentation
docs/source
docs/_build

# pytest .cache directory
.cache/
.pytest_cache/

# passwords
tests/fixtures/secret/

# IDE configuration
.idea/
.spyderproject
.ropeproject

# temporary files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.~lock.*
Thumbs.db

# credentials in tokens
wc_env_manager/assets/base_image/cplex_studio*.linux-x86-64.bin
wc_env_manager/assets/base_image/mosek.lic
wc_env_manager/assets/base_image/xpauth.xpr
wc_env_manager/assets/base_image/marvin_linux_*.deb

# configuration file
wc_env_manager.cfg