# description
include README.rst

# version
include wc_env_manager/VERSION

# license
include LICENSE

# requirements
include requirements.txt
include requirements.optional.txt

# configuration files
recursive-include wc_env_manager *.cfg
